{% extends 'base.html.twig' %}

{% block body %}
  <h>Comment reviewed, thank you!</h>

  <p>Applied transition: <strong>{{ transition }}</strong></p>
  <p>New state: <strong>{{ comment.state }}</strong></p>
{% endblock %}
